In [49]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
import pandas as pd
movie_dataset=pd.read_csv("drive/MyDrive/PROJECTS/Rotten Tomato DataSet/rotten_tomatoes_movies.csv.zip")

In [51]:
movie_dataset.dropna(inplace=True)

In [54]:
movie_dataset.drop(['content_rating','streaming_release_date','runtime','production_company','tomatometer_status','tomatometer_count','audience_status','audience_rating','audience_count','tomatometer_top_critics_count','tomatometer_fresh_critics_count','tomatometer_rotten_critics_count'],axis=1,inplace=True)

In [66]:
movie_dataset.drop_duplicates(subset='movie_title',inplace=True)
movie_dataset.reset_index(drop=True,inplace=True)
movie_dataset

                       rotten_tomatoes_link  ... tomatometer_rating
0                                 m/0814255  ...               49.0
1                                 m/0878835  ...               87.0
2                                      m/10  ...               67.0
3                    m/1000013-12_angry_men  ...              100.0
4     m/1000079-20000_leagues_under_the_sea  ...               89.0
...                                     ...  ...                ...
7903                            m/zoolander  ...               64.0
7904                          m/zoolander_2  ...               22.0
7905                            m/zoom_2006  ...                4.0
7906                             m/zootopia  ...               98.0
7907                                 m/zulu  ...               96.0

[7908 rows x 10 columns]

In [73]:
#print(movie_dataset['rotten_tomatoes_link'].nunique())
#print(movie_dataset['movie_title'].nunique())
movie_dataset.to_csv('drive/MyDrive/PROJECTS/project files/Dataset1.csv')